.footer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 1.2rem;
  background-color: $bg_second_color;

  @media (min-width: $tablet_min) {
    margin-top: 10rem;
  }
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.footer__body {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  @media (min-width: $tablet_min) {
    align-items: flex-start;
  }
}

.footer__header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  @media (min-width: $tablet_min) {
    align-self: flex-start;
  }
  // background-color: #6261c7;
}

.footer__heading {
  width: 12.5rem;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.125rem;
  letter-spacing: -0.1rem;
  color: $text_main_color;
  margin: 0;

  @media (min-width: $tablet_min) {
    width: 20rem;
  }
}

.footer__info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;

  border-top: 0.0625rem solid $border_first;

  @media (min-width: $tablet_min) {
    flex-direction: row;
    justify-content: space-between;
    min-height: 11.9375rem;
  }
}

.footer__info-first {
  display: none;

  @media (min-width: $tablet_min) {
    display: block;
  }
}

.footer__info-second {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 5.5rem;
  color: $text_second_color;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 0.975rem;
  letter-spacing: -0.015rem;

  @media (min-width: $tablet_min) {
    width: 56.875rem;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.25rem;
    letter-spacing: -0.05rem;
  }
}

.footer__info-link {
  width: 7.0625rem;
  text-decoration: underline;
  &--studio {
    color: $text_third_color;
  }

  @media (min-width: $tablet_min) {
    width: 22rem;
  }
}

.footer__info-text {
  @media (min-width: $tablet_min) {
    text-decoration: none;
  }
}

.footer__info-contact-place {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-width: 20.9375rem;
  height: 3.25rem;
  padding: 1rem 1.3125rem;
  border: 1px solid $border_first;
  border-radius: 6.25rem;

  @media (min-width: $tablet_min) {
    width: 53.1875rem;
    height: 5.875rem;
  }
}

.footer__info-contact-place-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 1.25rem;
  font-size: 0.75rem;
  color: $text_main_color;
  background-repeat: no-repeat;
  background-position: left center;

  @media (min-width: $tablet_min) {
    color: $border_second;
    font-size: 2.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2.125rem;
    letter-spacing: -0.06375rem;
    text-transform: lowercase;
    background-size: contain;
  }
}

.footer__info-contact-place-whatsapp {
  padding-left: 1.75rem;
  background-image: url(/images/icon-whatsapp-nav.svg);

  @media (min-width: $tablet_min) {
    padding-left: 3.125rem;
  }
}

.footer__info-contact-place-telegram {
  padding-left: 1.75rem;
  background-image: url(/images/icon-telegram-nav.svg);

  @media (min-width: $tablet_min) {
    padding-left: 3.125rem;
  }
}


.footer__info-contact-place-email {
  color: $text_third_color;

  @media (min-width: $tablet_min) {
    text-decoration: underline;
  }
}