.header {
  min-width: $mobile_min;
  min-height: 60px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: $bg_main_color;

  @media (min-width: $tablet_min) {
    border-bottom: 1px solid $text_main_color;
  }
}


