.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100%;

  @media (min-width: $tablet_min) {
    flex-direction: row;
    justify-content: space-between;
    padding: 30px 50px;
  }
}

.main-nav__switch-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // width: 100%;
  min-width: 335px;
  // margin-top: 1px;
  // margin-bottom: 5px;
  background-color: rgb(23, 7, 144);
  @media (min-width: $tablet_min) {
    min-width: fit-content;
    // display: none;
  }
}

.main-nav__logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-height: 60px;
  background-color: orange;
}

.main-nav__logo-wrapper {

  background-color: yellow;
}

.main-nav__logo-text {
  font-size: 19px;
  line-height: 19px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  margin-left: 5px;


  background-color: orangered;
}

.main-nav__switch {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  // border-bottom: 2px solid $bg_main_color;
  // border-right: 2px solid $bg_main_color;
  // border-top: 1px solid $text_five_color;
  // border-left: 2px solid $text_five_color;
  // background-color: $bg_third_color;
  // opacity: 0.7;
  background-color: transparent;
  border: none;

  &:hover {
    opacity: 1;
  }

  @media (min-width: $tablet_min) {
    display: none;
  }
}

.main-nav__switch-img {
  position: relative;
  width: 32px;
  height: 2px;
  background-color: $bg_second_color;
  margin-bottom: 8px;

  &:after {
    content: "";
    position: absolute;
    width: 32px;
    height: 2px;
    top: 8px;
    left: 0;
    background-color: $bg_second_color;
  }
}

// //Поворот бургера в стрелку

@keyframes open-main {
  0% {
    width: 32px;
    height: 2px;
    margin-bottom: 8px;
  }

  100% {
    width: 24px;
    margin-right: 5px;
    margin-bottom: 8px;
    transform: rotate(45deg) translateX(5px);
  }
}

@keyframes open-after {
  0% {
    width: 32px;
    height: 2px;
    top: 8px;
    left: 0;
  }
  100% {
    width: 24px;
    height: 2px;
    top: 8px;
    left: 0;
    transform: rotate(-90deg) translateX(8px);
  }
}

//Поворот стрелки в бургер

@keyframes close-main {
  0% {
    width: 24px;
    margin-right: 5px;
    margin-bottom: 8px;
    transform: rotate(45deg) translateX(5px);
  }

  100% {
    width: 32px;
    height: 2px;
    margin-bottom: 8px;
  }
}

@keyframes close-after {
  0% {
    width: 24px;
    height: 2px;
    top: 8px;
    left: 0;
    transform: rotate(-90deg) translateX(8px);
  }

  100% {
    width: 32px;
    height: 2px;
    top: 8px;
    left: 0;
  }
}

.main-nav__switch-img--open {
  animation-name: open-main;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.main-nav__switch-img--open:after {
  animation-name: open-after;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}


.main-nav__switch-img--close {
  animation-name: close-main;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.main-nav__switch-img--close:after {
  animation-name: close-after;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  // align-self: start;
  list-style: none;
  width: 80%;
  margin: 150px 0 0 0;
  padding: 0;
  transition-property: background-color;
  transition-duration: 2s;

  // background-color: #fff;

  @media (min-width: $tablet_min) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-self: auto;
    max-width: 665px;
    // margin: 0 -5px 0 -5px;
  }
}

.main-nav__list--close {
  margin: 0;
}

.main-nav__list--close + .main-nav__contact-place {
  display: none;
  // background-color: red;
}

@media (max-width: $tablet_min) {
  // display: none;
}

.main-nav__list--close > li {
  &:nth-child(n) {
    transform: scale(0);
    visibility: hidden;
    opacity: 0;
    min-height: 0;
    margin: 0;
  }

  &:nth-child(1) {
    transition: opacity 1.5s, visibility 1.5s, transform 1.5s, margin 1.5s, height 5s;
  }

  &:nth-child(2) {
    transition: opacity 2s, visibility 2s, transform 2s, margin 2s;
  }

  &:nth-child(3) {
    transition: opacity 2.5s, visibility 2.5s, transform 2.5s, margin 2.5s;
  }

  &:nth-child(4) {
    transition: opacity 3s, visibility 3s, transform 3s, margin 3s;
  }

  @media (min-width: $tablet_min) {
    &:nth-child(n) {
      transform: scale(1);
      visibility: visible;
      width: fit-content;
      opacity: 1;
      height: auto;
      margin: 0 0 10px 10px;
    }
  }
}

.main-nav__list--open > li {
  &:nth-child(n) {
    transform: scale(1);
    visibility: visible;
    opacity: 0.7;
    height: auto;
    margin-bottom: 5px;

    &:hover {
      opacity: 1;
    }
  }

  &:nth-child(1) {
    transition: opacity 2s, visibility 2s, transform 2s, margin 2s;
  }

  &:nth-child(2) {
    transition: opacity 1.5s, visibility 1.5s, transform 1.5s, margin 1.5s;
  }

  &:nth-child(3) {
    transition: opacity 1s, visibility 2s, transform 1s, margin 1s;
  }

  &:nth-child(4) {
    transition: opacity 0.5s, visibility 4.5s, transform 0.5s, margin 0.5s;
  }
}

.main-nav__item {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  min-height: 38px;
  margin-bottom: 20px;
  // background-color: $bg_third_color;
  // background-image: url("../img/icon-arrow.svg");
  // background-repeat: no-repeat;
  // background-position: right 20px center;
  // border-bottom: 2px solid $bg_main_color;
  // border-right: 2px solid $bg_main_color;
  // border-top: 1px solid $text_five_color;
  // border-left: 2px solid $text_five_color;
  // opacity: 0.7;

  &:hover {
    opacity: 1;
  }

  // @media (min-width: $tablet_min) {
  //   flex-grow: 1;
  //   width: fit-content;
  //   background-image: none;
  //   margin: 0 0 10px 10px;
  // }
}

.main-nav__item--close {
  transition-property: height;
  transition-duration: 5s;
  height: 0;
}

.main-nav__link {
  // padding: 10px 10px 10px 30px;
  width: 100%;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  color: $text_main_color;

  @media (min-width: $tablet_min) {
    // padding: 10px 30px 10px 30px;
    // text-align: center;
    font-size: 20px;
  }
}

.main-nav__contact-place {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  min-width: 335px;
  height: 52px;
  padding: 16px 21px;
  margin-top: 50px;
  border: 1px solid $border_first;
  border-radius: 100px;

  // background-color: red;
}

.main-nav__contact-place-link {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 20px;
  font-size: 12px;
  color: $text_main_color;
  background-repeat: no-repeat;
  background-position: left center;
}

.main-nav__contact-place-whatsapp {
  padding-left: 28px;
  // color: $text_third_color;
  // background-color: black;
  background-image: url(/img/icon-whatsapp-nav.svg);
  // background-image: url(/img/icon-arrow.svg);
}

.main-nav__contact-place-telegram {
  padding-left: 28px;
  // color: $text_third_color;
  // background-color: black;
  background-image: url(/img/icon-telegram-nav.svg);
}

.main-nav__contact-place-email {
  color: $text_third_color;
}

.main-nav__button {
  display: none;

  @media (min-width: $tablet_min) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    display: block;
    background-color: transparent;
    border: none;

    
    & p {
      font-size: 20px;
      font-weight: 600;
      color: $text_third_color;
    }
  }

  .main-nav__button-img {
    display: block;
    width: 34px;
    height: 34px;
    background-color: $text_third_color;
  }
}