.promo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;

  @media (min-width: $tablet_min) {
    display: grid;
    grid-template-rows: 27rem 23rem 4rem;
    grid-template-columns: 45rem 7rem 67rem;
  }
}

.promo__wrapper-first {
  padding: 1.25rem;

  @media (min-width: $tablet_min) {
    grid-row: 1 / 2;
    grid-column: 1 / 3;
    padding: 3.15rem;
  }
}

.promo__heading {
  font-size: 2.5rem;
  line-height: 2.5rem;
  font-weight: 400;
  text-align: left;

  & h2 {
    margin: 0;
    padding: 0;
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-weight: 400;
    text-align: left;
    color: $text_main_color;
    letter-spacing: -0.1rem;

    @media (min-width: $tablet_min) {
      margin: 0.7rem 0 0 0;
      font-size: 6.25rem;
      letter-spacing: -0.25rem;
      line-height: 5.3125rem;
    }
  }

  & span:last-child {
    color: $text_second_color;
  }
}

.promo__text {
  p {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    flex-wrap: wrap;
    margin: 1.25rem 0 0 0;
    padding: 0;
    color: $text_second_color;

    @media (min-width: $tablet_min) {
      font-size: 1.5rem;
      letter-spacing: -0.045rem;
      line-height: 1.5rem;
      flex-direction: row;
    }
  }
}

.promo__image {
  width: 100%;
  height: 20.5rem;
  background-image: url(../images/bg-promo-mob.png);
  background-repeat: no-repeat;
  background-size: contain;

  @media (min-width: $tablet_min) {
    grid-row: 1 / 3;
    grid-column: 2 / 4;
    width: 100%;
    height: 100%;
    background-size: 135%;
    background-position: 0.1rem -6.875rem;
  }
}

.promo__button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.promo__button {
  align-self: center;
  width: 100%;
  padding: 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: transparent;
  min-width: 15rem;
  border: none;

  @media (min-width: $tablet_min) {
    align-self: start;
    max-width: 22.5rem;
    height: 5.56rem;
    margin-left: 3.13rem;
    padding: 1.5rem;
    border-radius: 0.75rem;
    background-color: $bg_button_color_first;
  }

  p {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 0.875rem;
    font-weight: 600;
    letter-spacing: -0.0375rem;
    color: $text_third_color;

    @media (min-width: $tablet_min) {
      font-size: 1.5rem;
      letter-spacing: -0.12rem;
    }
  }

  .promo__button-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 2.1875rem;
    height: 2.1875rem;
    border-radius: 50%;
    background-color: $text_third_color;

    & span:first-child {
      position: relative;
      display: block;
      width: 1rem;
      height: 0.125rem;
      background-color: $bg_second_color;

      &::before {
        content: "";
        position: absolute;
        top: -0.4375rem;
        left: 0.4375rem;
        width: 0.125rem;
        height: 1rem;
        background-color: $bg_second_color;
      }
    }
  }
}
