.services {
  background-color: $bg_second_color;
  padding: 1.88rem 1.25rem;
  border-radius: 1.875rem;
  width: 100%;

  @media (min-width: $tablet_max) {
    margin-top: 10rem;
    background-color: $bg_second_color;
  }
}

.services__header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;
  width: 100%;

  @media (min-width: $tablet_max) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.services__heading {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 2.125rem;
  letter-spacing: -0.1rem;
}

.services__header-text {
  margin-top: 1.25rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 0.875rem;
  letter-spacing: -0.02625rem;
  color: $border_first;
}

.services__button-place {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 1.25rem;
  align-self: center;
}

.services__btn {
  width: 10rem;
  height: 3rem;
  margin: 0;
  padding: 1.5rem;
  border: none;
  background-color: $bg_main_color;
  background-image: url(/images/our-work-1-desk.svg);
  background-repeat: no-repeat;
  background-position: center center;
  border-left: 1px solid $bg_third_color;

  @media (min-width: 618px) {
    width: 18rem;
    padding: 2.5rem;
  }
}

.services__btn-prev {
  border-top-right-radius: 6.25rem;
  border-bottom-right-radius: 6.25rem;
  transform: rotate(180deg);
}

.services__btn-next {
  border-top-right-radius: 6.25rem;
  border-bottom-right-radius: 6.25rem;
}

.services__slider {
  margin-top: 1.25rem;

  @media (min-width: $tablet_max) {

  }
}

.services__slider .services__item {
  align-self: center;
  display: flex !important;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  min-height: 26rem;
  max-width: 29rem;
  padding: 0.62rem;
  text-align: center;
  border-radius: 1.875rem;
  background-color: $bg_main_color;

  @media (min-width: 600px) {
    max-width: 19rem;
  }

  @media (min-width: $tablet_min) {
    max-width: 29rem;
  }

  @media (min-width: $tablet_max) {
    max-width: 26rem;
    min-height: 32rem;
    margin-left: 1.6rem;
  }
}

.services__item-header {
  width: 19rem;
  height: 12rem;
  border-radius: 1.5625rem;
  background-color: $bg_third_color;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right 50%;

  @media (min-width: $mobile_step-1) {
    width: 16rem;
  }

  &--1 {
    background-image: url("/images/services/s-1.png");
  }

  &--2 {
    background-image: url("/images/services/s-2.png");
  }

  &--3 {
    background-image: url("/images/services/s-3.png");
  }

  &--4 {
    background-image: url("/images/services/s-4.png");
    background-position: 50% 50%;
  }

  &--5 {
    background-image: url("/images/services/s-5.png");
    background-position: 50% 50%;
  }

  &--6 {
    background-image: url("/images/services/s-6.png");
    background-position: 50% 50%;
  }
}

.services__item-main {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  flex-wrap: wrap;

  background-color: $bg_main_color;
  margin-top: 1.9rem;

  h2 {
    margin: 0;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.125rem;
    letter-spacing: -0.05rem;
    text-align: left;

    @media (min-width: $tablet_max) {
      max-width: 16.75rem;
    }
  }

  ul {
    margin: 1.87rem 0 0 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
    max-width: 15rem;
    text-align: left;

    @media (min-width: $tablet_max) {
      max-width: 18rem;
    }

    p {
      margin: 0 0 0 0.43rem;
      padding: 0;
      font-size: 0.875rem;
      font-weight: 400;
      line-height: 0.875rem;
      letter-spacing: -0.035rem;
      text-align-last: left;
    }
  }
}
